{% extends 'base.html' %}
{% block title %}{{ object }}{% endblock %}
{% block page-header-title %}
<h1>{{ object.first_name }} {{ object.family_name }}</h1>
{% endblock %}
{% block page-content %}
{% if request.GET.assigned %}
<div class="container">
    <div class="alert alert-success">
	Merci encore pour votre aide précieuse ! Voici la page du maire
	que nous vous avons assigné, il s'agit d'un maire que nous pensons
	etre sensible à notre démarche. Si vous pouviez le contacter
	rapidement, cela nous aiderait énormément. Merci beaucoup !
    </div>
</div>
{% endif %}
<div class="container-fluid">
    <div class="col-xs-12 col-md-4">
	<h2>Infos de contact</h2>
	<p><strong>Email:</strong> {{ object.public_email|urlize }}<br/>
	<strong>Téléphone:</strong> <a href="tel:{{ object.public_phone }}">{{ object.public_phone }}</a><br/>
	<strong>Site web:</strong> {{ object.public_website|urlize }}<br/>
	{% if object.city %}
	<strong>Adresse:</strong> {{ object.city_address|linebreaksbr }}
	{{ object.city_zipcode }} {{ object.city }}<br/>
	{% endif %}
	</p>
	{% if user.is_authenticated %}
	<p><strong>Email privé:</strong> {{ object.private_email|urlize }}<br/>
	<strong>Téléphone privé:</strong> <a href="tel:{{ object.private_phone }}">{{ object.private_phone }}</a></p>
	{% endif %}
	<p><strong>Réseaux sociaux:</strong>
	<a title="Recherche sur Faceebook" href="https://www.facebook.com/search/all/?q={{ object.first_name|urlencode }}%20{{ object.family_name|urlencode }}">Facebook</a>
	<a title="Recherche sur Twitter" href="https://twitter.com/search?f=users&q={{ object.first_name|urlencode }}%20{{ object.family_name|urlencode }}&src=typd">Twitter</a></p>

    </div>
    <div class="col-xs-12 col-md-4">
	<h2>Autres infos</h2>
	<p><strong>Date de naissance:</strong> {{ object.birthdate }} ({{ object.birthdate|timesince }})<br/>
	<strong>Couleur politique de sa liste:</strong> {{ object.nuance_politique|default:"inconnue" }}<br/>
        <strong>Commentaires:</strong> {{ object.comment }}<br/>
	<strong>Fonction:</strong> {{ object.get_role_display }}<br/>
	{% if object.city %}
	<strong>Commune:</strong> {{ object.city }}<br/>
	<strong>Population commune:</strong> {{ object.city_size }}<br/>
        <strong>Horaires mairie:</strong> <a target="_blank" href="https://lannuaire.service-public.fr/recherche?whoWhat=mairie&where={{ object.city_zipcode|urlencode }}{{ " "|urlencode }}{{ object.city|urlencode }}">ouvrir</a><br/>
	{% endif %}
	<strong>Département:</strong> <a href="{% url 'elu-list' %}?department={{ object.department }}&sort=priority">{{ object.department }}</a>
	</p>
    </div>
    <div class="col-xs-12 col-md-4">
	<h2>Statut</h2>
	{% if user.is_authenticated %}
	<p><strong>Statut:</strong> {{ object.get_status_display }}<br/>
	<strong>Assigné à:</strong> {% include 'userlink.html' with u=object.assigned_to %}</p>
	<p>
	{% if object.assigned_to == user %}
	<form method="POST">
	    {% csrf_token %} 
	    <input type="hidden" name="action" value="unassign"/>
	    <button type="submit" class="btn btn-primary">Supprimer l'assignation</button>
	</form>
	{% else %}
	<form method="POST">
	    {% csrf_token %} 
	    <input type="hidden" name="action" value="assign"/>
	    <button type="submit" class="btn btn-primary">M'assigner cet élu</button>
	</form>
	{% endif %}
	</p>
	{% else %}
	<p><strong>Statut:</strong> {{ object.get_public_status_display }}</p>
	{% endif %}
	{% if perms.app.can_change_elu %}
	<p>
	<a href="/admin/app/elu/{{ object.id }}/">Page de l'élu sur
	    l'interface d'administration</a><br/>
	<a href="/u/{{ object.id }}/{{ object.private_token }}/">Formulaire
	    de réponse</a> (lien privé)<br/>
	<strong>Nombre d'assignations publiques</strong>:
	{{ object.public_assign_count }}
	</p>
	{% endif %}
    </div>

    {% if user.is_authenticated %}
    <div class="col-xs-12">
	<h2>Historique</h2>
	<table class="table table-striped">
	    <tr>
		<th>Horodatage</th>
		<th>Qui</th>
		<th>Contenu de la note</th>
	    </tr>
	    {% for note in object.notes.all %}
	    <tr>
		<td>{{ note.timestamp }}<br/>(il y a {{ note.timestamp|timesince }})</td>
		<td>{% include 'userlink.html' with u=note.user %}</td>
		<td>{{ note.note|linebreaksbr }}</td>
	    </tr>
	    {% endfor %}
	</table>
    </div>
    <div class="col-xs-12">
	<h3>Ajout d'une note et mise à jour du statut</h3>
	<form method="POST">
	    <div class="form-group">
		<label for="newStatus">Nouveau statut:</label>
		<select class="form-control" id="newStatus" name="status">
		    <option value="" selected>Statut inchangé</option>
		    {% for value, text in object.STATUS_CHOICES %}
		    <option value="{{ value }}">{{ text }}</option>
		    {% endfor %}
		</select>
	    </div>
	    <div class="form-group">
		<label for="newNote">Nouvelle note:</label>
		<textarea class="form-control" id="newNote" name="note" rows="3"></textarea>
	    </div>
	    {% csrf_token %} 
	    <input type="hidden" name="action" value="add_note"/>
	    <button type="submit" class="btn btn-primary">Mettre à jour le
		statut et/ou ajouter la note</button>
	</form>
    </div>
    <div class="col-xs-12">
	<p></p>
	<h3>Mise à jour des coordonnées privées</h3>
	<form method="POST" class="form-inline">
	    <div class="form-group">
		<label for="newEmail">Email privé:</label>
		<input type="text" class="form-control" id="newEmail" name="private_email" value="{{ object.private_email }}">
	    </div>
	    <div class="form-group">
		<label for="newPhone">Téléphone privé:</label>
		<input type="text" class="form-control" id="newPhone" name="private_phone" value="{{ object.private_phone }}">
	    </div>
	    {% csrf_token %} 
	    <input type="hidden" name="action" value="update_contact"/>
	    <button type="submit" class="btn btn-primary">Mettre à jour les coordonnées</button>
	</form>
    </div>
    {% endif %}
    {% if object.role == 'M' %}
    {% if user.is_authenticated or request.GET.assigned %}
    <div class="col-xs-12 m-t-1">
	{% if assigned %}
	<h3>Actions possibles</h3>
	<p><a href="{% url 'assign' %}?action=unassign&elu_id={{ object.id }}"
	    class="btn btn-primary">Finalement, je ne contacterai pas cet élu</a>
	   <a href="{% url 'assign' %}?action=assign&forcenew=1"
	   class="btn btn-primary">J'ai contacté cet élu, j'en veux un autre</a>
	</p>
	{% endif %}
	<h3>Aide au démarchage téléphonique</h3>
	<p>D'abord vérifiez les <a target="_blank" href="https://lannuaire.service-public.fr/recherche?whoWhat=mairie&where={{ object.city_zipcode|urlencode }}{{ " "|urlencode }}{{ object.city|urlencode }}">horaires de la mairie</a> et planifiez votre appel à une heure
	d'ouverture. Ensuite voici ce à quoi pourrait ressembler votre
	entretien téléphonique:</p>
	<table class="table table-sm table-hover">
	    <tr><th>Vous</th><td>Bonjour, je voudrais parler à
		    {{ object.first_name }} {{ object.family_name }}.<br/>
		    <em>Citer le prénom en premier (et même omettre le
			nom de famille) augmente vos chances que l'on vous
			passe le maire directement.</em>
		</td></tr>
	    <tr><th>Secrétariat</th><td>C'est de la part de qui ?</td></tr>
	    <tr><th>Vous</th><td><em>Répondez par votre prénom suivi
			éventuellement de votre nom de famille.</em><td></tr>
	    <tr class="bg-info text-white"><th colspan="2">Si on ne vous passe pas le maire</th></tr>
	    <tr><th>Secrétariat</th><td>Désolé il n'est pas là.
		    Puis-je faire quelque chose pour vous ?</td></tr>
	    <tr><th>Vous</th><td>Oui. En fait je suis un des 127.000
		participants à LaPrimaire.org, la première primaire
		citoyenne organisée sur Internet en vue des élections
		présidentielles. Cette expérience réellement démocratique
		a permis de désigner Charlotte Marchandise-Franquet comme
		candidate. Normalement vous avez dû recevoir le 28 février
		un courrier électronique de « Aude Favre
		&lt;soutien@lavoiecitoyenne.fr&gt; » intitulé
		« {% if object.gender == 'F' %}Mme{% else %}M.{% endif %}
		{{ object.family_name|title }}, vos électeurs vous
		remercieront de votre courage » à ce sujet. Le message
		vous invitait à faire suivre le courrier au maire afin
		qu'il puisse remplir rapidement le formulaire de réponse.
		À ce jour,
		{% if object.gender == 'F' %}Mme{% else %}M.{% endif %} {{ object.family_name|title }}
		n'y a pas encore répondu. Pouvez-vous vérifier que vous
		avez bien reçu ce message et qu'il a été transmis au
		maire ?
		</td></tr>
	    <tr><th>Secrétaire</th><td><em>Cherche sur son
			ordinateur</em>. C'est bon, je l'ai retrouvé. Je
		    vais le faire suivre.</td></tr>
	    <tr><th>Vous</th><td>Merci. À quel moment puis-je rappeler
		    pour m'entretenir quelques minutes avec
		    {% if object.gender == 'F' %}Mme{% else %}M.{% endif %}
		{{ object.family_name|title }} ?<br/>
		<em>Vous prenez note de quand vous pouvez rappeler et
		    clôturer poliment la conversation.</em>
		</td></tr>
	    <tr class="bg-info text-white"><th colspan="2">Si on vous passe le maire</th></tr>
	    <tr><th>Vous</th><td><em>On commence par trois questions qui
			doivent obtenir des oui en retour:</em><br/>
		    Bonjour,
		    {% if object.gender == 'F' %}Mme{% else %}M.{% endif %}
		    {{ object.family_name|title }}.
		    Vous allez bien ?</td></tr>
	    <tr><th>Maire</th><td>Oui, merci.</td></tr>
	    <tr><th>Vous</th><td>Vous êtes bien 
		    {% if object.gender == 'F' %}la{% else %}le{% endif %}
		    maire de {{ object.city }} ?</td></tr>
	    <tr><th>Maire</th><td>Oui.</td></tr>
	    <tr><th>Vous</th><td>Est-ce que vous recevez beaucoup de
		    demandes avec ce système de 500 parrainages pour les
		    élections présidentielles ?</td></tr>
	    <tr><th>Maire</th><td>Oui, vous ne pouvez pas imaginer. C'est
		    un plaie.</th></tr>
	    <tr><th>Vous</th><td>Je comprends, je vais donc essayer de
		    faire bref. Je vous rassure, je ne vous appelle pas
		    pour une candidature de témoignage. En fait je suis un
		    des 127.000 participants à LaPrimaire.org, la première
		    primaire citoyenne organisée sur Internet en vue des
		    élections présidentielles. Cette expérience réellement
		    démocratique a permis de désigner Charlotte
		    Marchandise-Franquet comme candidate. Est-ce que vous
		    en avez déjà entendu parler ?</td></tr>
	    <tr><th>Maire</th><td>Non, désolé.</td></tr>
	    <tr><th>Vous</th><td>Ce n'est pas grave, le système médiatique
		    étant ce qu'il est, il préfère parler des soucis de
		    Pénélope Fillon plutôt que des vraies avancées
		    démocratiques qui germent partout dans notre pays.
		    <em>Enchaînez sur les arguments qui vous semblent les plus
			pertinents</em>.</td></tr>
	    <tr><th></th><td>Charlotte est une élue de terrain comme vous,
		    adjointe déléguée à la santé à la ville de Rennes.
		    Elle prône une action locale au cœur des territoires
		    pour susciter l'adhésion, puis l'implication, à une
		    politique au plus près des problématiques que nous
		    avons à résoudre.
		    Elle est Présidente d'un réseau d'élus national et
		    elle se bat avec des élus de droite comme de gauche de
		    85 villes pour défendre les préoccupations des élus
		    locaux, pour défendre la santé des habitants de nos
		    communes (<a href="http://www.villes-sante.com">www.villes-sante.com</a>).
		</td></tr>
	    <tr><th></th><td>Charlotte ne se veut pas une femme
		    providentielle ayant réponse à tout. Au contraire,
		    elle nous propose une méthode d'action inclusive en
		    coopération avec tous les acteurs de la société
		    civile.</td></tr>
	    <tr><th></th><td>Charlotte veut convoquer une assemblée
		    constituante pour réformer notre système politique à
		    bout de souffle.</td></tr>
	    <tr><th></th><td><em>Appuyez vous sur les raisons qui font que
			vous soutenez Charlotte</em></td></tr>
	    <tr class="bg-info text-white"><th colspan="2">Débattez ensemble</th></tr>
	    <tr><th>Vous</th><td>Alors qu'en dites vous ? Allez-vous
		    parrainer Charlotte Marchandise ?</td></tr>
	    <tr><th>Maire</th><td>... Je ne sais pas ...</td></tr>
	    <tr><th>Vous</th><td>Très bien. Vous avez bien entendu le
		    temps de la réflexion mais cela serait bien que vous
		    puissiez nous communiquer votre réponse. Vous avez du
		    recevoir un courrier électronique de l'équipe de
		    campagne. Il est daté du 28 février, a été expédié par
		    « Aude Favre » et a comme objet 
		    « {% if object.gender == 'F' %}Mme{% else %}M.{% endif %}
		    {{ object.family_name|title }}, vos électeurs vous
		    remercieront de votre courage ».
		    Le secrétariat avait pour instruction de vous le
		    transmettre. L'avez-vous reçu ?</td></tr>
	    <tr class="bg-info text-white"><th colspan="2">Si le maire a
		    bien reçu le courrier électronique</th></tr>
	    <tr><th>Maire</th><td>Oui.</td></tr>
	    <tr><th>Vous</th><td>Très bien. Dans ce cas, il ne vous reste
		    plus qu'à vous décider, à nous faire part de votre
		    réponse et éventuellement à renvoyer le formulaire de
		    présentation d'un candidat au conseil constitutionnel.
	    <tr class="bg-info text-white"><th colspan="2">Si le maire n'a
		    pas reçu le courrier électronique</th></tr>
	    <tr><th>Maire</th><td>Non.</td></tr>
	    <tr><th>Vous</th><td>Je vais rappeler votre secrétaire pour
		    lui demander de le retrouver dans l'historique et de
		    vous le faire suivre. Vous n'aurez plus qu'à vous
		    décider et à faire part de votre décision via le
		    formulaire de réponse dont le lien est disponible
		    dans le message en question. Et évidemment à envoyer
		    le formulaire au conseil constitutionnel si vous
		    acceptez de parrainer Charlotte.
		    </td></tr>
	    <tr class="bg-info text-white"><th colspan="2">Pour
		    conclure</td></tr>
	    <tr><th>Vous</th><td>
		    Avez-vous d'autres questions ou demandes pour l'équipe
		    de campagne ?</td></tr>
	    <tr><th>Maire</th><td>Non.</td></tr>
	    <tr><th>Vous</th><td>Parfait. Merci de votre attention, bonne
		    journée.</td></tr>
	</table>
	<p>
	Si le maire a des demandes particulières pour l'équipe de
	campagne, ou si vous pensez qu'il y a un élément important
        que nous devons savoir,	merci de nous faire un retour à
	<a href="mailto:parrainage@listes.charlotte-marchandise.fr?subject=À propos de {{ elu }} [{{ elu.id }}]">parrainage@listes.charlotte-marchandise.fr</a>.
	</p>
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
