{% extends 'base.html' %}
{% block page-content %}
<div class="introduction">
    <div class="container">
        <p class="lead m-b-4">Ce service permet de coordonner la recherche des parrainages pour Charlotte Marchandise.</p>
    </div>
</div>
<div class="container">
    <h3>Rechercher un élu</h3>
    <div>
	<form action="{% url 'elu-list' %}" method="GET" class="form-inline">
	    <input type="text" class="form-control" name="search" placeholder="Nom ou ville de l'élu">
	    <button type="submit" class="btn btn-primary">Rechercher</button>
	</form>
    </div>
    <p></p>
    <h3>Consulter les élus d'un département</h3>
    <div>
	<form action="{% url 'elu-list' %}" method="GET" class="form-inline">
	    <div class="form-group">
		<label for="department">Département:</label>
		<select class="form-control" name="department" id="department">
		    {% for d in departements %}
		    <option>{{ d }}</option>
		    {% endfor %}
		</select>
	    </div>
	    <div class="form-group">
		<label for="sort">Trier par:</label>
		<select class="form-control" name="sort" id="sort">
		    <option value="priority">Priorité</option>
		    <option value="">Ordre alphabétique</option>
		    {% if user.is_authenticated %}
		    <option value="status">Statut</option>
		    {% endif %}
		</select>
	    </div>
	    <button type="submit" class="btn btn-primary">Voir les élus</button>
	</form>
    </div>
    <p></p>
    {% if user.is_authenticated %}
    <h3>Mes élus à gérer</h3>
    <table class="table table-sm table-striped">
	<tr>
	    <th>#</th>
	    <th>Élu</th>
	    <th>Statut</th>
	    <th>Dernière mise à jour</th>
	</tr>
	{% for elu in my_elus %}
	<tr>
	    <td>{{ forloop.counter }}</td>
	    <td><a href="{{ elu.get_absolute_url }}">{{ elu }}</a></td>
	    <td>{{ elu.get_status_display }}</td>
	    <td>{{ elu.last_updated }} (il y a {{ elu.last_updated|timesince }})</td>
	</tr>
	{% endfor %}
    </table>
    <p></p>
    {% endif %}
    <h3>Statistiques</h3>
    <p>{{ user_count }} bénévoles ont contacté {{ elus_contacted }} élus
    et ont obtenu {{ elus_accepted }} parrainages.</p>
    {% if user.is_authenticated %}
    <h4>Classement des départements</h4>
    <table class="table table-sm table-striped">
	<tr>
	    <th>#</th>
	    <th>Département</th>
	    <th>Parrainages</th>
	    <th>Élus contactés</th>
	</tr>
	{% for dep in classement_departments %}
	<tr>
	    <td>{{ forloop.counter }}</td>
	    <td>{{ dep.department }}</td>
	    <td>{{ dep.parrainages }}</td>
	    <td>{{ dep.contacts }}</td>
	</tr>
	{% endfor %}
    </table>
    <h4>Classement des utilisateurs</h4>
    <table class="table table-sm table-striped">
	<tr>
	    <th>#</th>
	    <th>Utilisateur</th>
	    <th>Mises à jour effectuées</th>
	    <th>Élus assignés</th>
	</tr>
	{% for benevole in classement_users %}
	<tr>
	    <td>{{ forloop.counter }}</td>
	    <td>{{ benevole }}</td>
	    <td>{{ benevole.count_notes }}</td>
	    <td>{{ benevole.count_elus }}</td>
	</tr>
	{% endfor %}
    </table>

    {% endif %}
</div>
{% endblock %}
