{% extends 'base.html' %}
{% block title %}Informations légales{% endblock %}
{% block content %}
<div class="container">
    <h2>Informations légales</h2>
    <h3>Hébergement</h3>
    <p>Hébergeur: ONLINE SAS, BP 438, 75366 PARIS CEDEX 08</p>
    <p>Directeur de la publication: Raphaël Hertzog &lt;raphael@ouaza.com&gt;</p>
    <h3>Conditions d'utilisation</h3>
    <p>Les données non-publiques disponibles sur ce site lorsque vous êtes
    un utilisateur authentifié sont destinées à un usage
    strictement interne au sein de l'équipe de campagne de Charlotte
    Marchandise. Il n'est pas autorisé de les divulger sans l'accord
    préalable de Charlotte Marchandise.</p>
    <h3>Données personnelles</h3>
    <p>Ce site exploite une base de données des bénévoles. Les données
    personnelles collectées peuvent être modifiées ou supprimées en
    écrivant à <a
     href="cnil@charlotte-marchandise.fr">cnil@charlotte-marchandise.fr</a>.</p>
</div>
{% endblock %}
